# package
node_modules
node_modules/
dist/
dist-ssr
/node_modules
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
*.local
.env.local
.env.*.local

# Logs
logs
*.log
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode
.vscode/*
!.vscode/extensions.json
.idea
.idea/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
