/*
全局定义class
*/

@import '~@/assets/style/public.scss';
@import '~@/assets/style/icon/glyphicon.scss';
@import '~@/assets/style/reset/base.scss';
@import '~@/assets/style/reset/element.scss';
@import '~@/assets/style/reset/n-progress.scss';
@import '~@/assets/style/reset/vue-transition.scss';

// 在这里写公用的class
// 注意 这个文件里只写class
// mixin等内容请在 public.scss 里书写
// 占位符
.#{$prefix}-place {
  width: 1px;
  height: 1px;
}

// 基础布局
.flex-base {
  @extend %flex-base;
}
.flex-center-row {
  @extend %flex-base;
  @extend %flex-center-row;
}
.flex-center-col {
  @extend %flex-base;
  @extend %flex-center-col;
}
.flex-space-between {
  @extend %flex-base;
  @extend %flex-space-between;
}

// 100%
.#{$prefix}-box {
  width: 100%;
  height: 100%;
}
.#{$prefix}-width {
  width: 100%;
}
.#{$prefix}-height {
  height: 100%;
}
.#{$prefix}-width-v {
  width: 100vw;
}
.#{$prefix}-height-v {
  height: 100vh;
}

// 文字相关
.#{$prefix}-text-center {
  text-align: center;
}
.#{$prefix}-text-left {
  text-align: left;
}
.#{$prefix}-text-right {
  text-align: right;
}

// 变成小手
.#{$prefix}-pointer {
  cursor: pointer;
}


// 浮动相关
.#{$prefix}-fl {
  float: left;
}
.#{$prefix}-fr {
  float: right;
}
.#{$prefix}-clearfix:before,
.#{$prefix}-clearfix:after {
  display: table;
  content: "";
}
.#{$prefix}-clearfix:after {
  clear: both
}

// 边距相关
 $i: 50;
 @while $i > 0 {
   .#{$prefix}-m-#{$i} { margin: #{$i}px; }
   .#{$prefix}-mt-#{$i} { margin-top: #{$i}px; }
   .#{$prefix}-mr-#{$i} { margin-right: #{$i}px; }
   .#{$prefix}-mb-#{$i} { margin-bottom: #{$i}px; }
   .#{$prefix}-ml-#{$i} { margin-left: #{$i}px; }

   .#{$prefix}-p-#{$i} { padding: #{$i}px; }
   .#{$prefix}-pt-#{$i} { padding-top: #{$i}px; }
   .#{$prefix}-pr-#{$i} { padding-right: #{$i}px; }
   .#{$prefix}-pb-#{$i} { padding-bottom: #{$i}px; }
   .#{$prefix}-pl-#{$i} { padding-left: #{$i}px; }
   $i: $i - 5;
 }

//$sizes: (0, 5, 10, 15, 20);
//@for $index from 1 to 6 {
//  .#{$prefix}-m-#{$index} { margin: #{$index}px !important; }
//  .#{$prefix}-mt-#{$index} { margin-top: #{$index}px !important; }
//  .#{$prefix}-mr-#{$index} { margin-right: #{$index}px !important; }
//  .#{$prefix}-mb-#{$index} { margin-bottom: #{$index}px !important; }
//  .#{$prefix}-ml-#{$index} { margin-left: #{$index}px !important; }
//
//  .#{$prefix}-p-#{$index} { padding: #{$index}px !important; }
//  .#{$prefix}-pt-#{$index} { padding-top: #{$index}px !important; }
//  .#{$prefix}-pr-#{$index} { padding-right: #{$index}px !important; }
//  .#{$prefix}-pb-#{$index} { padding-bottom: #{$index}px !important; }
//  .#{$prefix}-pl-#{$index} { padding-left: #{$index}px !important; }
//}
