@import '~element-plus/dist/index.css';
// element 样式补丁

/* 改变主题色变量 */
$--color-primary: #008DFF;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-plus/dist/fonts';
//@import "~element-ui/packages/theme-chalk/src/index";

.el-header {
  padding: 0;
}
