@charset "utf-8";
/* CSS Document */

body{ background-image: url("../img/pic29.png"); background-position: center 100px; background-repeat: no-repeat;}

.main{ width: 970px; padding: 20px 0 0 30px; float: left;}
.main .maps{ font-size: 14px; color: #00707e; padding: 0 0 0 25px; background-image: url("../img/pic30.png"); background-position: left; background-repeat: no-repeat; border-bottom: solid 1px #e1e1e1; line-height: 2.5;}
.main .maps a{ display: inline-block; color: #00707e;}

.main .contact{ width: 90%; margin: 0 auto; background-image: url("../img/pic40.png"); background-position: top; background-repeat: no-repeat; min-height: 700px;}
.main .contact ul li{ float: left; width: 33.33%; text-align: center; margin-top: 50px;}
.main .contact ul li i{ background: #fafafa; display: inline-block; padding: 10px;}
.main .contact ul li span{ font-size: 36px; color: #909090; padding: 16px; border: 1px solid #909090; border-radius: 50px; width: 40px;}
.main .contact ul li:last-child{ width: 100%; margin-top: 97px;}
.main .contact ul li:last-child span{ background: #00707e; color: #fff;}
.main .contact ul li p{ color: #646464; font-size: 16px; background: #fafafa;}
.main .contact .contact-us{ background-image: url("../img/pic43.png"); background-position: center; background-repeat: no-repeat; height: 110px; padding-top: 65px; margin-top: 10px;}
.main .contact .contact-us p{ color: #fff; font-size: 22px; font-family: Arial;  text-align: center; border: 2px solid #00707e; padding: 10px 100px; margin: 0 auto; width: 30%;}
.main .contact > p{ color: #646464; font-size: 24px; text-align: center; margin-top: 30px;}
.main .contact > p span{ font-family: Arial; font-size: 12px; margin-top: 8px; display: block; }
.main .contact a{ margin: 20px auto 0; color: #00707e; padding: 6px 10px; border: #00707e 2px solid; width: 56px;-webkit-transition-property: background,color; transition-property: background,color;-webkit-transition-duration: .2s; transition-duration: .2s; -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in; -webkit-transition-delay: 0s;transition-delay: 0s;}
.main .contact a:hover{ background: #00707e; color: #fff;}
.main .contact .qr-code{ margin: 40px auto 0; background-image: url("../img/pic44.png"); background-position: top; background-repeat: no-repeat;}
.main .contact .qr-code img{ margin: 0 auto; padding-top: 34px; width: 130px; height: 130px;}
.main .contact .qr-code p{ text-align: center;}
.main .contact .qr-code p:first-of-type{ color: #909090; margin-top: 7px;}
.main .contact .qr-code p:last-of-type{ color: #909090; margin-top:17px; font-size: 16px;}
