@charset "utf-8";
/* CSS Document */

body{ background-image: url("../img/pic29.png"); background-position: center 100px; background-repeat: no-repeat;}

.main{ width: 970px; padding: 20px 0 0 30px; float: left;}
.main .maps{ font-size: 14px; color: #00707e; padding: 0 0 0 25px; background-image: url("../img/pic30.png"); background-position: left; background-repeat: no-repeat; border-bottom: solid 1px #e1e1e1; line-height: 2.5; margin-bottom: 30px;}
.main .maps a{ display: inline-block; color: #00707e;}

#tabs1{ text-align:left; width: 100%;}
.menu1box{ position:relative; overflow:hidden; float:left; height:40px; width: 100%; margin-bottom: 20px;}
#menu1{ position:absolute; top:0; left:0; z-index:1;}
#menu1 li{ float:left; display:block; cursor:pointer;text-align:center; line-height:30px;  padding:0 20px; border-radius: 15px; font-size: 14px; margin-right: 10px; border: solid 1px #00707e; -webkit-transition-property: background; transition-property: background;-webkit-transition-duration: .2s; transition-duration: .2s; -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in; -webkit-transition-delay: 0s;transition-delay: 0s;}
#menu1 li a{ color: #00707e;}
#menu1 li.hover{ background-color: #00707e; color:#fff;}
#menu1 li.hover a{color:#fff;}
.main1box{ clear:both; width: 100%;}
#main1 > div{ display: none; min-height: 794px;}
#main1 > div.block{ display: block;}
#main1 > div ul:first-child{ width: 20%; float: left;}
#main1 > div ul:first-child li:first-child{ width: 100%; height: 80px; background: #00707e;}
#main1 > div ul:first-child li:last-child{ font-size: 18px; width: 14px; margin: 30px auto auto; padding: 40px 10px; border-top: 1px #909090 solid; border-bottom: 1px #909090 solid; color: #909090;}

#main1 > div ul:last-child{ width: 80%; float: left; margin-top: 80px;}
#main1 > div ul:last-child li{  width: 32%; float: left; margin: 0 2% 20px 0;}
#main1 > div ul:last-child li:nth-child(3n){ margin-right: 0;}
#main1 > div ul:last-child li p{ font-size: 14px; line-height: 3; float: left; color: #646464;}
#main1 > div ul:last-child li span{ float: right; background-image: url("../img/pic38.png"); background-position: center; background-repeat: no-repeat; width: 60px; height: 18px; margin-top: 13px; -webkit-transition-property: background-image; transition-property: background-image; -webkit-transition-duration: .2s; transition-duration: .2s; -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in; -webkit-transition-delay: 0s;transition-delay: 0s;}
#main1 > div ul:last-child li a:hover span{ background-image: url("../img/pic45.png");}
#main1 > div ul:last-child li img{ width: 100%; height: 186px;}

.main section{ padding: 20px 0; border-bottom: 1px solid #e1e1e1;}
.main section h3{ font-size: 16px; font-weight: normal; color: #323232; margin-bottom: 10px;}
.main section p{ font-size: 14px; line-height: 2; color: #646464;}
.main section > img{ margin-bottom: 20px;}
.main section ul li:first-child{ width: 72%; float: left;}
.main section ul li:last-child{ width: 25%; float: right;}

