@charset "utf-8";
/* CSS Document */

body{ background-image: url("../img/pic29.png"); background-position: center 100px; background-repeat: no-repeat;}

.main{ width: 970px; padding: 20px 0 0 30px; float: left;}
.main .maps{ font-size: 14px; color: #00707e; padding: 0 0 0 25px; background-image: url("../img/pic30.png"); background-position: left; background-repeat: no-repeat; border-bottom: solid 1px #e1e1e1; line-height: 2.5;}
.main .maps a{ display: inline-block; color: #00707e;}

.main .message{ padding-top: 30px;}
.main .message > p{ text-align: center; font-size: 16px; font-family: Arial; color: #e1e1e1;}
.main .message > p span{ display: block; font-size: 40px; line-height: 0.9;}
.main .message .message-main{ width: 762px; padding: 100px 100px 50px; border: 4px solid #999; margin-top: 70px; position: relative;}
.main .message .message-main .icon{ padding: 10px; display: inline-block; background: #fafafa; position: absolute; left: 45.5%; top: -45px;}
.main .message .message-main .icon span{ padding: 10px 8px 8px 10px; background: #fafafa; border-radius: 50%; border: #00707e 2px solid; height: 40px; display: inline-block;}
.main .message .message-main .icon span i{ font-size: 40px; color: #00707e; display: inline-block;}
.main .message .message-main p{ font-size: 30px; color: #323232; margin-bottom: 20px;}
.main .message .message-main p span{ color: #909090; font-size: 32px;}
.main .message .message-main label{ width: 48%; display: inline-block; font-size: 16px; margin-bottom: 16px; color: #646464;}
.main .message .message-main label:nth-child(2n){ margin-left: 3%;}
.main .message .message-main label:last-of-type{ width: 100%;}
.main .message .message-main label input{ display: block; width: 94.5%; padding: 8px 10px; margin-top: 5px; border: #e1e1e1 1px solid;}
.main .message .message-main textarea{ min-width: 738px; max-width: 738px; min-height: 100px; max-height: 100px; border: #e1e1e1 1px solid; margin-top: 5px; padding: 10px;}
.main .message .message-main button{  background: #00707e; padding: 10px 60px; color: #fff; border: none;-webkit-transition-property: background; transition-property: background;-webkit-transition-duration: .2s; transition-duration: .2s; -webkit-transition-timing-function: ease-in; transition-timing-function: ease-in; -webkit-transition-delay: 0s;transition-delay: 0s;}
.main .message .message-main button:hover{ background: #008596;}
.main .message .message-main p:last-child{ font-size: 14px; color: #909090; display: inline-block; margin-left: 20px;}
