/*dede58.com 做最好的织梦整站模板下载网站*/
/* CSS Document */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, input, a {margin:0;}
*{ font-family:"微软雅黑";}
ol,ul{margin:0; padding:0;}
body { font-family: Arial,"微软雅黑"; font-size: 12px; color: #434343;}
.clearbox { overflow:hidden;}  
ul,li { list-style: none; }  
img { border: none; display:block;}  
a { text-decoration: none; color: #555; display:block; }  
a: hover { color: #3366ff; }
.clearfix{ overflow: hidden;}





 

 
