/*

Template:  Chondo hotel
Author: 
Version: 1
Design and Developed by: 

Note: This is Short code style file. All Short code related style
included in this file. 

*/

@import url("header.css");
@import url("alert.css");
@import url("progress.css");
@import url("button.css");
@import url("video.css");