/*
全局定义class
*/
@import "~@/assets/styles/fonts/font.css";
//@import "~@/assets/styles/icon/glyphicon.scss";
@import "~@/assets/styles/icon/iconfont.css";

@import "~@/assets/styles/public.scss";
@import "~@/assets/styles/common/base.scss";
@import "~@/assets/styles/animate/n-progress.scss";
@import "~@/assets/styles/animate/vue-transition.scss";

// 在这里写公用的class
// 注意 这个文件里只写class
// mixin等内容请在 public.scss 里书写
// 占位符
.#{$prefix}-place {
  width: 1px;
  height: 1px;
}

// 基础布局
.flex-base {
  @extend %flex-base;
}
.flex-row {
  @extend %flex-base;
  @extend %flex-row;
}
.flex-col {
  @extend %flex-base;
  @extend %flex-col;
}
.flex-center-row {
  @extend %flex-base;
  @extend %flex-center-row;
}
.flex-center-col {
  @extend %flex-base;
  @extend %flex-center-col;
}
.flex-space-between {
  @extend %flex-base;
  @extend %flex-space-between;
}

// 100%
.#{$prefix}-width-auto {
  width: auto;
}
.#{$prefix}-box-fill {
  @extend %wh-fill;
}
.#{$prefix}-width-fill {
  @extend %width-fill;
}
.#{$prefix}-height-fill {
  @extend %height-fill;
}
.#{$prefix}-box-full {
  @extend %wh-full;
}
.#{$prefix}-width-full {
  @extend %width-full;
}
.#{$prefix}-height-full {
  @extend %height-full;
}

// 文字相关
.#{$prefix}-text-center {
  @extend %text-center;
}
.#{$prefix}-text-left {
  @extend %text-left;
}
.#{$prefix}-text-right {
  @extend %text-right;
}

// 变成小手
.#{$prefix}-pointer {
  cursor: pointer;
}


// 浮动相关
.#{$prefix}-fl {
  float: left;
}
.#{$prefix}-fr {
  float: right;
}
.#{$prefix}-clearfix:before,
.#{$prefix}-clearfix:after {
  display: table;
  content: "";
}
.#{$prefix}-clearfix:after {
  clear: both
}

// 边距相关
$i: 50;
@while $i > 0 {
  .#{$prefix}-m-#{$i} { margin: #{$i}px; }
  .#{$prefix}-mt-#{$i} { margin-top: #{$i}px; }
  .#{$prefix}-mr-#{$i} { margin-right: #{$i}px; }
  .#{$prefix}-mb-#{$i} { margin-bottom: #{$i}px; }
  .#{$prefix}-ml-#{$i} { margin-left: #{$i}px; }

  .#{$prefix}-p-#{$i} { padding: #{$i}px; }
  .#{$prefix}-pt-#{$i} { padding-top: #{$i}px; }
  .#{$prefix}-pr-#{$i} { padding-right: #{$i}px; }
  .#{$prefix}-pb-#{$i} { padding-bottom: #{$i}px; }
  .#{$prefix}-pl-#{$i} { padding-left: #{$i}px; }
  $i: $i - 5;
}

//$sizes: (0, 5, 10, 15, 20);
//@for $index from 1 to 6 {
//  .#{$prefix}-m-#{$index} { margin: #{$index}px !important; }
//  .#{$prefix}-mt-#{$index} { margin-top: #{$index}px !important; }
//  .#{$prefix}-mr-#{$index} { margin-right: #{$index}px !important; }
//  .#{$prefix}-mb-#{$index} { margin-bottom: #{$index}px !important; }
//  .#{$prefix}-ml-#{$index} { margin-left: #{$index}px !important; }
//
//  .#{$prefix}-p-#{$index} { padding: #{$index}px !important; }
//  .#{$prefix}-pt-#{$index} { padding-top: #{$index}px !important; }
//  .#{$prefix}-pr-#{$index} { padding-right: #{$index}px !important; }
//  .#{$prefix}-pb-#{$index} { padding-bottom: #{$index}px !important; }
//  .#{$prefix}-pl-#{$index} { padding-left: #{$index}px !important; }
//}

.fixed-top-center {
  @extend %text-center;
  position: fixed;
  top: 0;
}
.fixed-bottom {
  @extend %text-center;
  position: fixed;
  bottom: 0;
}

.transition-width-1s {
  transition: width 1s;
  -moz-transition: width 1s;	/* Firefox 4 */
  -webkit-transition: width 1s;	/* Safari 和 Chrome */
  -o-transition: width 1s;	/* Opera */
}
