// 主色
$color-primary: #409eff;

// 辅助色
$color-info: #909399;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;

// 文字
$color-text-main: #303133;
$color-text-sub: #909399;
$color-text-normal: #606266;
$color-text-placehoder: #c0c4cc;

// 边框
$color-border-white: #ffffff;
$color-border-black: #000000;

// 背景
$color-bg-white: #ffffff;
$color-bg-black: #000000;
