@font-face {
  font-family: 'Glyphicons Halflings';  /* project id 858402 */
  src: url('//at.alicdn.com/t/font_858402_n4y1hph0vp.eot');
  src: url('//at.alicdn.com/t/font_858402_n4y1hph0vp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_858402_n4y1hph0vp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_858402_n4y1hph0vp.woff') format('woff'),
  url('//at.alicdn.com/t/font_858402_n4y1hph0vp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_858402_n4y1hph0vp.svg#iconfont') format('svg');
}
.glyphicon {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-money                  { &:before { content: "\e633"; } }
.glyphicon-big                    { &:before { content: "\e63d"; } }
.glyphicon-del                    { &:before { content: "\e628"; } }
.glyphicon-creative               { &:before { content: "\e6dd"; } }
.glyphicon-cpm                    { &:before { content: "\e607"; } }
.glyphicon-cpc                    { &:before { content: "\e608"; } }
.glyphicon-start                  { &:before { content: "\e611"; } }
.glyphicon-stop                   { &:before { content: "\e617"; } }
.glyphicon-end                    { &:before { content: "\e6e0"; } }
.glyphicon-up                     { &:before { content: "\e601"; } }
.glyphicon-down                   { &:before { content: "\e600"; } }
.glyphicon-double                 { &:before { content: "\e7bf"; } }
.glyphicon-single                 { &:before { content: "\e895"; } }
.glyphicon-add                    { &:before { content: "\e625"; } }
.glyphicon-minus                  { &:before { content: "\e649"; } }
.glyphicon-down                   { &:before { content: "\e639"; } }
.glyphicon-news                   { &:before { content: "\e7b7"; } }
.glyphicon-active3                { &:before { content: "\e60c"; } }
.glyphicon-active4                { &:before { content: "\e606"; } }
.glyphicon-active5                { &:before { content: "\e603"; } }
.glyphicon-del1                   { &:before { content: "\e614"; } }
.glyphicon-details                { &:before { content: "\e61b"; } }
.glyphicon-custom                 { &:before { content: "\e652"; } }
.glyphicon-charts                 { &:before { content: "\e61c"; } }
.glyphicon-short                  { &:before { content: "\e621"; } }
.glyphicon-mid                    { &:before { content: "\e61f"; } }
.glyphicon-long                   { &:before { content: "\e620"; } }
.glyphicon-tips                   { &:before { content: "\e622"; } }
.glyphicon-regste1                { &:before { content: "\e626"; } }
.glyphicon-regste2                { &:before { content: "\e623"; } }
.glyphicon-regste3                { &:before { content: "\e624"; } }
.glyphicon-regste4                { &:before { content: "\e629"; } }
.glyphicon-regste5                { &:before { content: "\e627"; } }
.glyphicon-eyec                   { &:before { content: "\e63b"; } }
.glyphicon-eyeo                   { &:before { content: "\e63c"; } }
.glyphicon-error-empty            { &:before { content: "\e62a"; } }
.glyphicon-right-empty            { &:before { content: "\e62b"; } }
.glyphicon-error-real             { &:before { content: "\e62c"; } }
.glyphicon-right-real             { &:before { content: "\e62d"; } }
.glyphicon-drager                 { &:before { content: "\e62e"; } }
.glyphicon-direc-left             { &:before { content: "\e62f"; } }
.glyphicon-direc-right            { &:before { content: "\e630"; } }
.glyphicon-chuangyi               { &:before { content: "\e63a"; } }
.glyphicon-ziyuanwei              { &:before { content: "\e641"; } }
.glyphicon-dingxiang              { &:before { content: "\e640"; } }
.glyphicon-jihua                  { &:before { content: "\e63f"; } }
.glyphicon-toufang                { &:before { content: "\e64b"; } }
.glyphicon-danyuan                { &:before { content: "\e63e"; } }
.glyphicon-move                   { &:before { content: "\e646"; } }
.glyphicon-up                     { &:before { content: "\e645"; } }
.glyphicon-down                   { &:before { content: "\e779"; } }
.glyphicon-zhexian                { &:before { content: "\e644"; } }
.glyphicon-table                  { &:before { content: "\e643"; } }
.glyphicon-draggable              { &:before { content: "\e646"; } }
.glyphicon-ctr                    { &:before { content: "\e637"; } }
.glyphicon-over                   { &:before { content: "\e64c"; } }
.glyphicon-tuoguan                { &:before { content: "\e648"; } }
.glyphicon-account                { &:before { content: "\e64e"; } }
.glyphicon-account-tips           { &:before { content: "\e64d"; } }
.glyphicon-message                { &:before { content: "\e64f"; } }
.glyphicon-obstacle               { &:before { content: "\e650"; } }
